<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>

    <title>Jadwal Ashoy</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><h3>Jadwal Mata Kuliah</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                Jaenhos Jsaon
                </li>
            </ul>
            </div>
        </div>
    </nav>
<section class="inputJadwal" id="inputJadwal">
    <div class="container pt-5 pb-3 justify-content">
        <div class="row pt-5">
            <div class="card text-white bg-dark mb-3 pb-3 text-center" style="max-width: 18rem;">
                <div class="card text-white bg-dark mb-3 pb-3 text-center" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><h2><b>Susun Matkul</b></h2></h5>
                      <p class="card-text"><i>Fitur ini digunakan untuk list nama mata kuliah sesuai yang diambil oleh mahasiswa</i></p>
                    </div>
                </div>
                <h5 class="card-title"><h2><b>Disusun oleh :</b></h2></h5>
                <p class="card-text"><i>Johanes Jason, dalam rangka menyelesaikan tugas Story 5 Perancangan dan Pemograman Web</i></p>
                <p class="card-text"><i>Website ini dikerjakan berbarengan dengan TP SDA yang mengakibatkan kurang tidur</i></p>
            </div>
            <div class="col-md-6">
                <form action="" method="POST" class="ml-5">
                    {% csrf_token %}
                    {{ formulir }}
                    <div class = "centre-items" style = "margin-top: 2%">
                        <input type = "submit" class="btn btn-dark" value="Submit"> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="cekjadwal" id="cekjadwal">
    <div class="table-responsive" id="Table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nama Mata Kuliah</th>
                    <th scope="col">Nama Dosen</th>
                    <th scope="col">Jumlah SKS</th>
                    <th scope="col">Deskripsi Mata Kuliah</th>
                    <th scope="col">Tahun Semester</th>
                    <th scope="col">Ruang Kelas</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            {% for i in jadwal %}
            <tbody>
                <tr>
                    <td>{{i.nama_mata_kuliah}}</td>
                    <td>{{i.nama_dosen}}</td>
                    <td>{{i.jumlah_sks}}</td>
                    <td>{{i.deskripsi_mata_kuliah}}</td>
                    <td>{{i.tahun_semester}}</td>
                    <td>{{i.ruang_kelas}}</td>
                    <td>
                
                    <a  href = "{% url 'hapus' pk=i.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>
                    </button></a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            
        </table>

    
</section>

<footer class="bg-dark">
    <div class="container mt-3">
        <div class="row pt-1">
            <div class="col text-center text-white">
                <i>keqing best waifu</i>
            </div>
        </div>
    </div>
</footer>
    
  </body>
</html>
