{% load static %}

<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    {% block style %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>
        {% block title %} {% endblock %}
    </title>

</head>

<body>

    <div class="container navbar">
        <header>
            <div class="logo">
                <h1>Jsaon</h1>
            </div>

            <nav>
                <ul>
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#hobbies">Hobbies</a></li>
                    <li><a href="{% url 'home:project' %}">Project</a></li>
                    <li><a href="{% url 'home:story' %}">Profile</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
    </div>


    {% block content %}
    {% endblock %}


    <footer>
        <div class="container contact" id="contact">
            <p>Mind send me a message? Sweet!</p>
        </div>
        <div class="container arrow">
            <a href="#">
                <img src="{% static 'img/arrow.png' %}" alt="pict error" width="25">
            </a>
        </div>
        <div class="container logo">
            <span><a href="https://www.linkedin.com/in/johanes-jason-155220195/" target="_blank">
                <img src="{% static 'img/LinkedIn Logo.png' %}" alt="pict error" width="25">
            </a></span>
            <span><a href="https://www.instagram.com/knightrexyz/" target="_blank">
                <img src="{% static 'img/IG Logo.png' %}" alt="pict error" width="25">
            </a></span>
            <span><a href="https://steamcommunity.com/id/jsaonn/" target="_blank">
                <img src="{% static 'img/Steam Logo.png' %}" alt="pict error" width="25">
            </a></span>
            <span><a href="https://gitlab.com/Jsaonn/" target="_blank">
                <img src="{% static 'img/Gitlab Logo.png' %}" alt="pict error" width="25">
            </a></span>
        </div>
    </footer>
</body>
</html>
