{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Jsaon's Project{% endblock %}

{% block content %}
        <div class="container coming-soon">
            <a href="{% url 'home:matkul' %}"><h1>Jadwal Kuliah!</h1></a>
            <br>
            <a href="{% url 'home:home' %}">back</a>
        </div>
{% endblock %}
