{% extends 'base.html' %}
{% load static %}

{% block style %}
<!-- <link rel="stylesheet" type="text/css"  href="{% static 'css/style2.css' %}"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
{% endblock %}

{% block title %}Story 1 PPW{% endblock %}


{% block content %}
    <div class="story1">
        <div>
            <h2 align="center">Welcome to my website!</h2>
        </div>

        <hr/>
        <br/>

        <div>
            <div>
                <div><img src="{% static 'img/pic1.jpg' %}" alt="pict error" class="rounded-circle" width="150"></div>
                <div class="text-black h3"><h3>Jaenhos Jsaon</h3></div>
            </div>
        </div><br/>

        <div>
            <h3>
                <div><b>About me :</b></div>
                <div>Second year student of Computer Science at Universitas Indonesia</div>
                <div>Passionate about psychology, mental development, and programming</div>
            </h3>
        </div><br/>

        <div>
            <h3>
                <b>Profile :</b>
                <ul>
                    <li>NPM 1906293120</li>
                    <li>Maung 2019</li>
                    <li>Computer Science, University of Indonesia</li>
                </ul>
            </h3>
        </div><br/>

        <div>
            <h3>
                <b>Hobbies :</b>
                <ul>
                    <li>Gaming</li>
                    <li>Sleep</li>
                </ul>
            </h3>
        </div><br/>

        <div>
            <h3>
            <div><b>Education :</b></div>
            <ul>
                <li>SMAN 13 Jakarta</li>
                <li>Universitas Indonesia</li>
            </ul>
            </h3>
        </div><br/>

        <div>
            <h3>
                <div><b>You can find me at :</b></div>
                <div>
                    <a href="https://www.instagram.com/knightrexyz/?hl=en" target="_blank">
                    <span><img src="{% static 'img/ig-logo.png' %}" alt="pict error" width="25"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/johanes-jason-155220195/" target="_blank">
                    <span><img src="{% static 'img/linkedin-logo.png' %}" alt="pict error" width="25"></span>
                    </a>
                </div>
            </h3>
        </div>

        <div class="container back">
            <a href="{% url 'home:home' %}">back</a>
        </div>
    </div>
    {% endblock %}
