* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT sans', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #3F4045;
  }
  